name: KAI Sniper Bot

on:
  schedule:
    - cron: '0 8,18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: INSTALACIJA ALATA
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4 lxml

    - name: POKRENI BOTA
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
        ODDS_API_KEY: ${{ secrets.ODDS_API_KEY }}
      run: python main.py
